scripting/*
data/*
bin/*
envs/*
tmep/*
figs/*
results/*

notebooks/decoders/figs/*
notebooks/decoders/results/*
notebooks/behav_analysis/figs/*
notebooks/neural_analysis/figs/*

.idea
*.csv
*.ipynb_checkpoints
*.svg
.vscode/*

**/__pycache__/

PoPy/data_transformation_utils.py
modeling/RS_FS_stdp_DA/issues.txt
modeling/RS_FS_stdp_DA/results/*

notebooks/behav_modeling/*.npy
notebooks/random/*


.DS_Store
env.yml

notebooks/decoders/population_decoding/results/*
notebooks/decoders/glm/results/*
notebooks/decoders/target_and_value/results/*
notebooks/decoders/results/*
notebooks/decoders/val.pdf
notebooks/decoders/test.html
notebooks/decoders/results/log.txt
notebooks/decoders/glm/delete.nc

popy.egg-info/*
env_office_02_2025_checkpoint.yml
